.carousel {
	width: 600;
}

.caption {
	background-color: black;
}

.imgPadding {
	padding:  30px, 30px, 30px, 30px;
}

.spaceBetween {
	padding: 50px;
}

.wordPadding {
	padding: 0, 0, 20, 0;
}

.headerNav {
	position: fixed;
	top: 0;
	z-index: 1030;
}

footer {
	background-color: black;
}

.whiteH {
	color: white;
}

.sameLine {
	display: inline-block;
}

.right {
	float: right;
}

.footerPadding {
	padding: 10px;
}
